.link-card {
  max-width: 300px;
}

.link-card-img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
}

.link-name {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .link-card-img {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
  }
}
