<section class="intro">
  <app-intro-background class="intro-background"></app-intro-background>
  <div class="layer">
    <div class="greeting" id="greeting">
      <h1>Hi! I'm Brenden</h1>
      <h2>
        I'm a web developer in Seattle.
      </h2>
      <p>
        Learn more about me at my <a href="https://brenden.codes">blog</a> or
        <a href="https://brenden.fyi">resume</a>.
      </p>
      <p>You can also see some of my work <a href="#links">here.</a></p>
    </div>
  </div>
</section>
<section class="links" id="links">
  <app-links></app-links>
</section>
<section class="skills" id="skills">
  <app-skills></app-skills>
</section>
<section class="contacts" id="contacts">
  <app-contacts></app-contacts>
</section>
