@import '../../styles/backgrounds';

.intro {
  height: 100vh;
  padding: 0 5%;
  background-color: #ffffff;
  // background: url('/assets/img/space.jpg') no-repeat center center fixed;
  // background: url('/assets/img/pilatus.jpg') no-repeat center center fixed;
  // background: url('/assets/img/space.svg') center center fixed;
  // background-repeat: repeat;
  // background-size: cover;
  // overflow: scroll;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .greeting {
    color: #00205c;
    .mobile-pic {
      display: none;
    }

    a {
      color: #222222;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .action-shot > img {
    height: 600px;
    width: auto;
    border-radius: 50%;
  }
}

.links {
  @extend %circuit-background;
  padding: 200px 50px;
}

.skills {
  padding: 150px 50px;
  background-color: #ffffff;
}

.contacts {
  @extend %texture-background;
  padding: 100px 50px;
}

@media screen and (max-width: 900px) {
  .intro {
    flex-direction: column-reverse;
    justify-content: center;
    // background: url('/assets/img/speaking.jpg') no-repeat center center fixed;
    // background-position: -220px center;

    .greeting {
      text-align: center;
      .mobile-pic {
        height: 200px;
        width: auto;
        border-radius: 50%;
        display: inline-block;
        margin: auto;
      }
      h1 {
        font-size: 3rem;
        display: inline-block;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        text-align: left;
        font-size: 2rem;
      }
    }
    .action-shot > img {
      display: none;
    }
  }
}
