<section class="intro">
  <div class="layer">
    <div class="greeting" id="greeting">
      <h1>Hi! I'm Brenden</h1>
      <h2>
        I'm a web developer in Seattle.
      </h2>
      <p>
        I'm in the process of refreshing my portfolio. Until then feel free to
        checkout my <a href="https://brenden.fyi">resume</a> or
        <a href="https://brenden.codes">blog</a>.
      </p>
    </div>
  </div>
</section>
<section class="links">
  <app-links></app-links>
</section>
<section class="skills">
  <app-skills></app-skills>
</section>
